<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <h1 style="color: rgb(9, 31, 116);">Welcome <%= user.name %></h1>

    <a href="/change-password">Change password</a>
    

    <script>
        new Noty({
            theme: 'relax',
            text: 'Successfully logged in',
            type: 'success',
            layout: 'topRight',
            timeout: 1500

        }).show();
    </script>
</body>
</html>